<!DOCTYPE html> 
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% if title %}
    <title>{{title}} - SocialForum</title>
    {% else %}
    <title>SocialForum</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="../static/base.css" />
  </head>
  <body>
	
    <div class="container">
	<div class="warning">
		{% for message in get_flashed_messages() %}
		<span class=flash>{{ message }}</span>
		{% endfor %}
	</div>
    <div class="baselogbox">
	<span style="text-align:right;">SocialForum:</span> <a href="/index">首页</a>
	{% if current_user.is_authenticated() %}
		<a href="{{ url_for('myarticle') }}">我的帖子&nbsp;&nbsp;</a>
		<a href="{{ url_for('signout') }}">退出&nbsp;&nbsp;</a>
	{% else %}
		<a href="{{ url_for('login') }}">登录</a>
	{% endif %}
    </div>
    
    
    <div class="nav">
            <div class="navlife"><a href="/allarticles/1">生活</a></div>
            <div class="navnews"><a href={{url_for('news')}}>新闻</a></div>
            <div class="navcampus"><a href="/allarticles/5">校园</a></div>
            <div  class="navIT"><a href="/allarticles/3">IT</a></div>
            <div  class="navworking"><a href="/allarticles/6">学习</a></div>"
            
    </div>
    
    <div class="welcom">
     <h1>欢迎来到SocialForum！</h1>
    </div class="news">
    <div class="newarticle">
		<h1>发帖</h1>
		<form method="post" action="">
		{{ form.hidden_tag() }}
		<p style="font-size:24px;">标题<br><br><input type="text" name="title" size="80" style="font-size:24px;" /></p>
		<p>正文</p>
		<textarea rows="20" cols="150" name="body"></textarea>
		<p><input type="submit" value="确认"  class="button">
		<input type="reset" value="重置"  class="button"></p>
		{% for error in form.errors %}
		 <span style="color: red;">[{{error}}]</span>
		 {% endfor %}<br>
		</form>
	</div>
    </div>
  </body>
</html>

