{% extends "base.html" %}
{% block content %}
<h1>Welcome to SocialForum!</h1>
<h3><a href="/allarticles/1" target="_blank">>生活</a></h3>
{% for a in article.article1 %}
	<p><a href={{a.url}}  target="_blank">{{a.art.title}}</a> 时间：{{a.art.timestamp}}  发帖人：{{a.user}}</p>
{% endfor %}
<h3><a href="/allarticles/2" target="_blank">>教育</a></h3>
{% for a in article.article2 %}
	<p><a href={{a.url}}  target="_blank">{{a.art.title}}</a> 时间：{{a.art.timestamp}}  发帖人：{{a.user}}</p>
{% endfor %}
<h3><a href="/allarticles/3" target="_blank">>IT</a></h3>
{% for a in article.article3 %}
	<p><a href={{a.url}}  target="_blank">{{a.art.title}}</a> 时间：{{a.art.timestamp}}  发帖人：{{a.user}}</p>
{% endfor %}
<h3><a href="/allarticles/4" target="_blank">>文学</a></h3>
{% for a in article.article4 %}
	<p><a href={{a.url}}  target="_blank">{{a.art.title}}</a> 时间：{{a.art.timestamp}}  发帖人：{{a.user}}</p>
{% endfor %}
<h3><a href="/allarticles/5" target="_blank">>校园</a></h3>
{% for a in article.article5 %}
	<p><a href={{a.url}}  target="_blank">{{a.art.title}}</a> 时间：{{a.art.timestamp}}  发帖人：{{a.user}}</p>
{% endfor %}
<h3><a href="/allarticles/6" target="_blank">>学习</a></h3>
{% for a in article.article6 %}
	<p><a href={{a.url}}  target="_blank">{{a.art.title}}</a> 时间：{{a.art.timestamp}}  发帖人：{{a.user}}</p>
{% endfor %}
<h2><a href={{url_for('news')}} target="_blank">新闻</a></h2>
{% for n in news %}
	<p><a href={{n.url}}  target="_blank">{{n.title}}</a></p>
{% endfor %}
{% endblock %}

